html {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #495057;
}
header {
  background-color: #212529;
  position: fixed;
  top: 0;
  width: 100%;
}
#contenedorNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contenedorNav a img {
  filter: grayscale(1);
  width: 150px;
  height: 150px;
  padding: 10px;
}
#contenedorNav a img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
  transition: 2s;
}

#contenedorNav span {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6c757d;
  font-size: 50px;
}
#contenedorLista {
  display: flex;
  list-style: none;
  padding: 10px;
}

#contenedorLista li {
  padding: 20px;
  border-radius: 25px;

  background-color: #6c757d;
  margin-right: 10px;
  font-weight: bold;
}

#contenedorLista li:hover {
  transition: 2s;
  transform: scale(1.1);
  background-color: red;
}

#contenedorLista li a {
  text-decoration: none;
}
