#contenedorNav a img {
  filter: grayscale(1);
  width: 150px;
  height: 150px;
  padding: 10px;
}
#contenedorNav a img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
  transition: 2s;
}

#contenedorNav span {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

#contenedorLista li:hover {
  transition: 2s;
  transform: scale(1.1);
}
