#cabecera {
  width: 100%;
  height: 500px;
}
#video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -10;
  visibility: visible;
}
h2 {
  font-size: 100px;
  color: white;
  text-shadow: 4px 4px 4px #333;
  text-align: center;
  margin-top: 300px;
}
